@model IEnumerable<CapaPresentacion.Models.Tarjetas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ganador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCombinacionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdJuegoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdJugadorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ganador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCombinacionNavigation.Numeros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdJuegoNavigation.NombreSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdJugadorNavigation.Nickname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTarjeta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTarjeta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTarjeta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
