@model CapaPresentacion.Models.Juegos

@{
    ViewData["Title"] = "Sala de Juego";
    int numId = 0;
    int numtxt = 0;
}
<center>
    <h1>Sala @Model.NombreSala</h1>
</center>
<div class="container-fluid">
    <div class="wrapper">
        <div class="scroller">
            @for (int i = 100; i <= 175; i++)
            {
                numId = i;
                numtxt = i - 100;

                <button id="@numId" class="btn btn-light" style="width:50px;height:50px;">@numtxt</button>
            }
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div id="panelNumerosAleatorios" class="container-fluid">
                <div class="row">
                    <div id="numeroAleatorio" class="salio col-sm bg-danger font-weight-bolder" style="font-size:3rem">
                        Bingo!
                    </div>
                </div>
            </div>
            <b>SERVIDOR</b>
            <br />
            <hr />
            <b>ID: </b><label id="idSala" class="col-form-label">@Model.IdJuego</label>
            <br />
            <b>NOMBRE: </b><label id="nombreSala" class="col-form-label">@Model.NombreSala</label>
            <br />
            <b>FECHA: </b><label id="fechaCreacion" class="col-form-label">@Model.FechaCreacion</label>
            <br />
            <b>CONCLUIDO: </b>
            @if (@Model.Concluido)
            {
                <label id="concluido">SI</label>
            }
            else
            {
                <label id="concluido">NO</label>
            }

        </div>
        <div id="tarjetaBingo" class="col-sm">
            <b>TARJETAS DE BINGO</b>
            <hr />
            <div class="contenedorTarjeta" id="tarjeta"></div>
        </div>
        <div id="PanelUsuarios" class="col-sm">
            <b>USUARIOS CONECTADOS</b>
            <p>
                @if (ViewBag.idJugador != null)
                {
                    <div onclick="conectar()" id="conectarUsuario" class="btn btn-danger">
                        Conectar
                    </div>
                }

            </p>
            <hr />

        </div>
    </div>

</div>
<script>
    window.onload = function () {
        //se puede cargar el id del localstorage pero para que no genere conflicto
        crearBotonSacarBolilla(@Model.IdJuego);
    }
</script>


@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/JuegoBingo.js" asp-append-version="true"></script>
}

@if (ViewBag.idJugador != null)
{
    <script>
        window.onload = function () {
            GuardarDatosUsuarioMasId(@ViewBag.idJugador);
            CrearTarjetaBingo();
            AgregarAlPanelUsuarios();
    }
    </script>
}
