@model IEnumerable<CapaPresentacion.Models.Juegos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreSala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concluido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concluido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdJuego">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdJuego">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdJuego">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
